body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto', sans-serif;}

a :active,
a {
    text-decoration: none;
    color: #212121;
}

.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.header :hover, .header :focus {
    color: #2196F3}
.header { background-color: #ffffff;
    text-decoration: none;
}
.header-page-name {
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1,19;
    letter-spacing: 0.03em;
    color: #212121;
}
.header-web {
    color: #2196F3;
}
.header-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em;
}
.header-contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em;
    color: #757575;
    list-style: none;
}
.hero {
    background-color: #2F303A;;
}

.hero-title {
font-weight: 900;
font-size: 44px;
line-height: 1,36;
text-align: center;
letter-spacing: 0.06em;
color: #FFFFFF

}
.hero-btn {
    background-color: #2196F3;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1,875;
    color: #ffffff;
}
.about {
    background-color: #ffffff;
}
.about-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
}
.about-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71px;
    letter-spacing: 0.03em;
    
    color: #757575;
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.team-names {
    font-weight: 500;
    font-size: 16px;
    line-height: 1,19;
    letter-spacing: 0.03em;
    
    color: #212121;
}
.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1,19;
    letter-spacing: 0.03em;
    
    color: #757575;
}
.footer {
    background-color: #2F303A;
}
.footer-page-name {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1,19;
    letter-spacing: 0.03em;
    
    color: #FFFFFF;
}
.footer-web {
   color: #2196F3;
}
.footer-adress {
    font-style: normal;
}
.footer-street {
font-weight: 400;
font-size: 14px;
line-height: 1,71;

color: #FFFFFF
}
.footer-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.03em;
    
    color: rgba(255, 255, 255, 0.6);
}

