:root {
    --header-color: #2196F3;
    --title-color: #212121;
    --text-color: #757575;
    --index-background-color: #ffffff;

}


body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto', sans-serif;}

a :active,
a {
    text-decoration: none;
    color: #212121;
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.btn {
    cursor: pointer;
}

/* ---------------------HEADER--------------------- */
.header :hover, .header :focus {
    color: var(--header-color);
    }
.header { background-color: var(--index-background-color);
    text-decoration: none;
}
.header-page-name {
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--title-color);
}
.header-web {
    color:var(--header-color)
}
.header-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.current {
    color: var(--header-color);
}
.header-contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    list-style: none;
}

/* ---------------------HERO--------------------- */
.menu{
    background-color: var(--index-background-color);
}
.hero {
    background-color: #2F303A;;
}

.hero-title {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
color: #FFFFFF

}
.hero-btn {
    background-color: #2196F3;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    color: #ffffff;
}
/* ---------------------ABOUT--------------------- */
.about {
    background-color: var(--index-background-color);
}
.about-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
}
.about-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71px;
    letter-spacing: 0.03em;
    
    color: var(--text-color);
}
/* ---------------------PICTURE--------------------- */
.picture {
    background-color: var(--index-background-color);
}
.picture-title{
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}
    /* ---------------------TEAM--------------------- */
.team-title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color)
}

.team-names {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
}
.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--text-color);
}
/* ---------------------FOOTER--------------------- */
.footer {
    background-color: #2F303A;
}
.footer-page-name {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    
    color: #FFFFFF;
}
.footer-web {
   color: #2196F3;
}
.footer-adress {
    font-style: normal;
}
.footer-street {
font-weight: 400;
font-size: 14px;
line-height: 1.71;

color: #FFFFFF
}
.footer-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
    color: rgba(255, 255, 255, 0.6);
}
/* ---------------------SECOND PAGE--------------------- */
/* ---------------------MENU--------------------- */
.menu-list-btn :hover, .menu-list-btn:focus 
{
color:#FFFFFF ;
background-color: #2196F3
}
.menu-btn-all { 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    background-color: #2196F3;
    font-size: 16px;
    line-height: 1.63;
    color: #FFFFFF;
}
.menu-btn {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.63;
background-color:#FFFFFF ;
color: #212121;
}
/* ---------------------PORTFOLIO-------------------- */
.portfolio-item-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-color)
}
.portfolio-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--text-color);
}